fastapi==0.115.12
uvicorn==0.34.2
polars==1.27.0
pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
python-multipart==0.0.20
duckdb==1.2.2
requests==2.32.3
openpyxl==3.1.5
xlrd==2.0.1
shap==0.46.0
slowapi==0.1.9
python-dotenv==1.1.0
pytest==8.3.5
httpx==0.28.1